@import './base.css';

#app {
  font-weight: normal;
}

body {
  background: #242424eb;
  background: linear-gradient(270deg, #1C1C1C 10%, #494949 360%)
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
 }
}


.primary {
  background-color: #545454;
}
.secondary {
  background: #074985;
}
.warning {
  background-color: #be9926;
}
.success {
  background-color: #079154;
}
.danger {
  background-color: #AE2E24;
}